/* style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    padding: 0.625rem 1.25rem; 
    border-bottom: 0.2rem solid #1A7712; 
    padding-bottom: 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 3.75rem; 
}

.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 9rem;

}

.navbar li {
    margin: 0 1.25rem; 
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 0.9375rem; 
    background-color: #E9E9E9;
    padding: 0.65rem 2rem; 
    border-radius: 0.75rem; 
}

.navbar a:hover {
    background-color: #C9E2C3; 
}